.dokan-spinner {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../images/spinner-2x.gif') center center no-repeat;
  z-index: 99;
  background-size: 20px;
}
.tooltip {
  position: absolute;
  z-index: 9999;
  display: block;
  visibility: visible;
  line-height: 1.3;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 10px !important;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  font-weight: normal !important;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.dokan-dashboard .post-box-container {
  width: 49%;
  float: left;
}
.dokan-dashboard .meta-box-sortables {
  margin: 0 8px;
  min-height: 100px;
}
.dokan-dashboard .postbox .main {
  padding: 0 12px 11px;
}
.dokan-dashboard .postbox .main:before,
.dokan-dashboard .postbox .main:after {
  content: " ";
  display: table;
}
.dokan-dashboard .postbox .main:after {
  clear: both;
}
.dokan-dashboard .postbox .main a {
  text-decoration: none;
}
.dokan-dashboard .postbox .main p {
  margin: 0;
}
.dokan-dashboard .postbox .main h4 {
  margin: 0 0 7px 0;
  padding: 0 0 7px 0;
  border-bottom: 1px solid #EEE;
}
.dokan-dashboard .postbox .inside {
  margin: 10px 0 0 0;
  padding: 0;
}
.dokan-dashboard .mark-red a {
  color: red;
}
.dokan-dashboard .mark-green a {
  color: green;
}
.dokan-dashboard .dokan-left {
  float: left;
  width: 45%;
}
.dokan-dashboard .dokan-right {
  float: right;
  width: 45%;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 23px;
}
.dokan-settings-radio-image {
  display: block;
  width: 50%;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 0 0 15px;
  position: relative;
  line-height: 0;
  border: 1px solid #ededed;
  padding: 4px;
}
.dokan-settings-radio-image img {
  max-width: 100%;
  z-index: 1;
}
.dokan-settings-radio-image .current-option-indicator {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4CAF50;
  color: #fff;
  padding: 4px;
  z-index: 2;
  line-height: 1.3;
}
.dokan-settings-radio-image .active-option {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transition: opacity 0.4s ease;
}
.dokan-settings-radio-image .active-option button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -58px;
}
.dokan-settings-radio-image:hover .active-option {
  opacity: 1;
}
.dokan-settings-radio-image.active .active-option {
  display: none;
}
.dokan-settings-radio-image.not-active .current-option-indicator {
  display: none;
}
.wp-pointer-buttons button.next {
  margin-right: 5px;
}
.wp-pointer-buttons a.dokan {
  padding-left: 10px;
}
.wp-pointer-buttons a.dokan:before {
  content: unset;
}
