/*
Theme Name: SS-marketplace
Theme URI: -
Author: Billy & Bayu
Author URI: https://wordpress.org/
Description: SS Marketplace Theme
Version: 1.0
*/

.left{
	float:left;
}
form.search-query.form-control {
    background: none;
    border: none;
}
form.search-query.form-control:hover {
    box-shadow: none;
}
form.search-query .btn {
    padding: 0.8rem .75rem;
    border: 1px solid transparent;
}

.profile-picture{
    max-width: 30px;
    border-radius: 50%;
}

.hero__content.d-flex.flex-row.align-items-center.justify-content-center a {
    display: flex;
    flex-direction: column;
}
button.nav-page {
    width: 75px;
}
.pagination {
    justify-content: center;
}

.nav-page {
    background-color: #039be5;
    color: #ffffff;
    width: 100%;
}

.nav-page:hover {
    color: #ffffff;
    background-color: #0279b3;
}

.prev-page{
	margin-right: 5px;
}

.site-title{
	text-shadow: 0 1px 0 #CCC,
	0 2px 0 #C9C9C9,
	0 3px 0 #BBB,
	0 4px 0 #B9B9B9,
	0 5px 0 #AAA,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);

	color:#ffffff;
	font-size:40px;
}
.loading.show {
    display: block !important;
    z-index: 2;
    margin: 0 auto;
    margin-bottom: 100px;
}

.section.products__sales {
    min-height: calc(100vh - 569px);
}

/*.row.product__info.align-items-center.justify-content-between {
    min-height: 85px;
}*/

p.nav-link{
    color :#ffffff;
}