/*
    Template Name: SS MarketPlace
    Template URI: -
    Description: -
    Author: BayuSlari
    Author URI: bayuslari.com
    Version: 1.0
*/


/**
 *
 * GENERAL
 *
 */

html {
    font-size: 14px;
    overflow-x: hidden;
}

body {
    font-family: 'Avenir LT Std';
    font-weight: 300;
}

img {
    max-width: 100%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}





/* Colours */


/* Section */

h3.section-title {
    margin-bottom: 60px;
}

.section__content {
    padding: 60px 0;
}

.section--blue {
    background-color: #039be5;
    color: #ffffff;
}

.section--grey {
    background-color: #f5f5f5;
}

.section {
    padding: 60px 0;
}





/**
 *
 * COMPONENTS
 *
 */


/* Nav */

.navbar-brand img {
    height: 50px;
    object-fit: contain;
}

.nav-item a {
    color: #ffffff;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#cart-icon {
    fill: #ffffff;
}


/* Header */
header {
    z-index: 1;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

body {
    padding-top: 400px;
}

header + section{
    z-index: 111;
    position: relative;
    background: #fff;
}



/* Slider */

.hero__slider .owl-nav {
    margin: 0 !important;
}

.hero__slider .owl-prev img,
.hero__slider .owl-next img {
    height: 20px;
}

.hero__slider .owl-prev,
.hero__slider .owl-next {
    background: transparent !important;
    transition: all .3s ease;
}

.hero__slider .owl-prev:hover,
.hero__slider .owl-next:hover {
    background: #f5f5f5 !important;
}

.hero__slider .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.hero__slider .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.hero__slider .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.hero__slider .hero__img {
    height: 500px;
    object-fit: cover;
}





/* Jumbotron */

.jumbotron {
    height: 400px;
    position: relative;
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #039be5, #36D1DC);
    background: linear-gradient(to right, #039be5, #36D1DC);
}

.jumbotron>.container,
.jumbotron>.container>.row {
    height: 100%;
}

.empty-cart {
    width: 50vw;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

#logo-svg {
    max-width: 60%;
    padding: 0rem 3rem;
}

#logo-svg #oval,
#logo-svg #plus,
#logo-svg #diamond,
#logo-svg #bubble-rounded {
    animation: plopp 4s ease-out infinite;
}

#logo-svg #oval:nth-child(1),
#logo-svg #plus:nth-child(1),
#logo-svg #diamond:nth-child(1),
#logo-svg #bubble-rounded:nth-child(1) {
    animation-delay: -240ms;
}

#logo-svg #oval:nth-child(2),
#logo-svg #plus:nth-child(2),
#logo-svg #diamond:nth-child(2),
#logo-svg #bubble-rounded:nth-child(2) {
    animation-delay: -480ms;
}

#logo-svg #oval:nth-child(3),
#logo-svg #plus:nth-child(3),
#logo-svg #diamond:nth-child(3),
#logo-svg #bubble-rounded:nth-child(3) {
    animation-delay: -720ms;
}

#logo-svg #oval:nth-child(4),
#logo-svg #plus:nth-child(4),
#logo-svg #diamond:nth-child(4),
#logo-svg #bubble-rounded:nth-child(4) {
    animation-delay: -960ms;
}

#logo-svg #oval:nth-child(5),
#logo-svg #plus:nth-child(5),
#logo-svg #diamond:nth-child(5),
#logo-svg #bubble-rounded:nth-child(5) {
    animation-delay: -1200ms;
}

#logo-svg #oval:nth-child(6),
#logo-svg #plus:nth-child(6),
#logo-svg #diamond:nth-child(6),
#logo-svg #bubble-rounded:nth-child(6) {
    animation-delay: -1440ms;
}

#logo-svg #oval:nth-child(7),
#logo-svg #plus:nth-child(7),
#logo-svg #diamond:nth-child(7),
#logo-svg #bubble-rounded:nth-child(7) {
    animation-delay: -1680ms;
}

#logo-svg #oval:nth-child(8),
#logo-svg #plus:nth-child(8),
#logo-svg #diamond:nth-child(8),
#logo-svg #bubble-rounded:nth-child(8) {
    animation-delay: -1920ms;
}

#logo-svg #oval:nth-child(9),
#logo-svg #plus:nth-child(9),
#logo-svg #diamond:nth-child(9),
#logo-svg #bubble-rounded:nth-child(9) {
    animation-delay: -2160ms;
}

#logo-svg #oval:nth-child(10),
#logo-svg #plus:nth-child(10),
#logo-svg #diamond:nth-child(10),
#logo-svg #bubble-rounded:nth-child(10) {
    animation-delay: -2400ms;
}

#logo-svg #oval:nth-child(11),
#logo-svg #plus:nth-child(11),
#logo-svg #diamond:nth-child(11),
#logo-svg #bubble-rounded:nth-child(11) {
    animation-delay: -2640ms;
}

#logo-svg #oval:nth-child(12),
#logo-svg #plus:nth-child(12),
#logo-svg #diamond:nth-child(12),
#logo-svg #bubble-rounded:nth-child(12) {
    animation-delay: -2880ms;
}

#logo-svg #oval:nth-child(13),
#logo-svg #plus:nth-child(13),
#logo-svg #diamond:nth-child(13),
#logo-svg #bubble-rounded:nth-child(13) {
    animation-delay: -3120ms;
}

#logo-svg #oval:nth-child(14),
#logo-svg #plus:nth-child(14),
#logo-svg #diamond:nth-child(14),
#logo-svg #bubble-rounded:nth-child(14) {
    animation-delay: -3360ms;
}

#logo-svg #oval:nth-child(15),
#logo-svg #plus:nth-child(15),
#logo-svg #diamond:nth-child(15),
#logo-svg #bubble-rounded:nth-child(15) {
    animation-delay: -3600ms;
}

#logo-svg #oval:nth-child(16),
#logo-svg #plus:nth-child(16),
#logo-svg #diamond:nth-child(16),
#logo-svg #bubble-rounded:nth-child(16) {
    animation-delay: -3840ms;
}

/*#logo-svg #bg-line {
    animation: float 20s ease infinite;
}

#logo-svg #bg-line:nth-child(2) {
    animation-delay: 1200ms;
    fill-opacity: 0.3;
}

#logo-svg #bg-line:nth-child(3) {
    animation-delay: 850ms;
    fill-opacity: 0.4;
}*/

@-moz-keyframes plopp {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, -10px);
        opacity: 0;
    }
}

@-webkit-keyframes plopp {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, -10px);
        opacity: 0;
    }
}

@-o-keyframes plopp {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, -10px);
        opacity: 0;
    }
}

@keyframes plopp {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, -10px);
        opacity: 0;
    }
}

@-moz-keyframes float {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(6px, 20px);
    }

    50% {
        transform: translate(25px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes float {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(6px, 20px);
    }

    50% {
        transform: translate(25px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-o-keyframes float {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(6px, 20px);
    }

    50% {
        transform: translate(25px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(6px, 20px);
    }

    50% {
        transform: translate(25px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}


/* Hero Content */

.hero__content {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero__content h1 {
    font-weight: bold;
    display: none;
    letter-spacing: 5px;
}

#cart-icon {
    height: 150px;
}





/* Search box */

.search-query {
    display: inline-block;
    width: 300px;
    max-width: 300px;
    transition: all .3s ease-in-out;
    padding: 12px 15px;
    font-size: 14px;
}

.search-query:focus,
.search-query:hover {
    max-width: 320px;
    width: 320px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 20px;
    margin-top: -5px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.search-query:focus+.btn,
.search-query:hover+.btn {
    margin-top: -5px;
    margin-bottom: 5px;
    color: #039be5;
}

.search__box .btn {
    padding: .5rem .75rem;
    line-height: 1;
    border: 1px solid #0684c2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    color: inherit;
    z-index: 3;
    margin-left: -36px;
    z-index: 3;
    transition: all .3s ease-in-out;
}





/* Products */

.heading__section {
    position: relative;
    margin-bottom: 20px;
}

.product__item {
    margin-bottom: 40px;
    transition: all .3s ease-in-out;
}

.product__item img {
    position: relative;
}

.product__item:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 20px;
}

.product__item .product__title {
    padding: 20px 0 15px;
    font-size: 18px;
    font-weight: 600;
    color: #039be5;
}

.product__item .product__short-desc {
    margin-bottom: 15px;
}

.product__item .product__author {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.product__item .product__info {
    padding: 15px 0;
}

.product__item .product__price {
    font-size: 18px;
    font-weight: bold;
}

.product__item .product-desc {
    border: 1px solid #ccc;
    border-top: none;
    padding: 0 15px;
}

.product__item img.product-img {
    border: 1px solid #ccc;
    height: 200px;
    width: 100%;
    object-fit: cover;
}





/* Product Detail */

.product__detail {
    padding: 70px;
    border: none;
}

.product__detail .product__desc {
    margin-bottom: 30px;
}

.product__detail .product__desc h2 {
    margin-bottom: 30px;
}

.product__detail .product__price {
    font-size: 20px;
    font-weight: bold;
    color: #039be5;
    margin-bottom: 20px;
}

.product__detail .product__img>img {
    margin-bottom: 10px;
    border-radius: .25rem;
}

.product__author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}





/* Button */

.btn__buy {
    background-color: #039be5;
    color: #ffffff;
    width: 100%;
}

.btn__buy:hover {
    color: #ffffff;
    background-color: #0279b3;
}





/* Modal */

.modal-backdrop.show {
    background: rgba(240, 240, 240, 0.9);
    opacity: 1;
}





/* Footer */

footer {
    background-color: #039be5;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

.footer__bottom {
    padding: 10px 0;
    background-color: #039be5;
}